@media screen and (min-width : 768px)   {
  .mob_top_margin,.top_margin,.top_margin2{
    margin-top: 50px!important;
  }
}

@media screen and (max-width: 600px) {
 .heading_head{
   display: block;
   font-size: 14vw!important;
 }
 .m-b-md{
   margin-bottom: 0px!important;
 }
 .mob_top_margin,.top_margin{
   margin-top: 70px;
 }
.mob_margin_bottom{
margin-bottom: 9%;
}

}
.heading_head{
  display: block;
  font-size: 4vw;
  color: black;
}
.cust_button{
  outline: none!important;
  border-radius: 2em!important;
    padding: 6px 18px!important;
    color: black;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
font-family: 'Nunito', sans-serif;
letter-spacing: 0.2px;
opacity: 0.93;
    background-color: #fff;
    border-color: #ccc!important;
}
  body{

background:#eee;
}
.card::after {
display: block;
position: absolute;
bottom: -10px;
left: 20px;
width: calc(100% - 40px);
height: 35px;
background-color: #fff;
-webkit-box-shadow: 0 19px 28px 5px rgba(64,64,64,0.09);
box-shadow: 0 19px 28px 5px rgba(64,64,64,0.09);
content: '';
z-index: -1;
}
a.card {
text-decoration: none;
}

.card {
position: relative;
border: 0;
border-radius: 0;
background-color: #fff;
-webkit-box-shadow: 0 12px 20px 1px rgba(64,64,64,0.09);
box-shadow: 0 12px 20px 1px rgba(64,64,64,0.09);
}
.card {
position: relative;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-color: #fff;
background-clip: border-box;
border-radius: .25rem;
}

.box-shadow {
-webkit-box-shadow: 0 12px 20px 1px rgba(64,64,64,0.09) !important;
box-shadow: 0 12px 20px 1px rgba(64,64,64,0.09) !important;
}

.ml-auto, .mx-auto {
margin-left: auto !important;
}
.mr-auto, .mx-auto {
margin-right: auto !important;
}
.rounded-circle {
border-radius: 50% !important;
}
.bg-white {
background-color: #fff !important;
}

.ml-auto, .mx-auto {
margin-left: auto !important;
}

.mr-auto, .mx-auto {
margin-right: auto !important;
}
.d-block {
display: block !important;
}
img, figure {
max-width: 100%;
height: auto;
vertical-align: middle;
}

.card-text {
padding-top: 12px;
color: #8c8c8c;
}

.text-sm {
font-size: 12px !important;
text-align: justify;
}


.card-title {
margin: 0;
font-family: "Montserrat",sans-serif;
font-size: 18px;
font-weight: 900;
color: black;
}

.pt-1, .py-1 {
padding-top: .25rem !important;
}

.head-icon{
margin-top:18px;
color:#EB536C;
}

.mob_top_margin{
margin-top: 70px;
}
.card-body{
padding: 10px;
}
.live_icon{
    position: absolute;
    right: 5px;
    top: 5px;
}
.color_green{
color: green;
}
.beats {
  animation:fa-beat 3s ease infinite;
}
@keyframes fa-beat {
  0% {
    transform:scale(1);
  }
  5% {
    transform:scale(1.25);
  }
  20% {
    transform:scale(1);
  }
  30% {
    transform:scale(1);
  }
  35% {
    transform:scale(1.25);
  }
  50% {
    transform:scale(1);
  }
  55% {
    transform:scale(1.25);
  }
  70% {
    transform:scale(1);
  }
}
.no_margin p , .panel_header p{
margin: 5px!important;
}
.input-group-btn{
display: block!important;
}
.error_msg p{
color: red!important;
}
.success_msg {
color: green!important;
}

.cardz {
  box-sizing: border-box;
  padding: 1em;
  font-family: Ubuntu;
  border-radius: 25px;
  color: white;
  line-height: 25px;
  box-shadow: 5px 5px 10px #ccc;
    margin-top: 10px;
}

.cardz.purple {
background:linear-gradient(135deg, #622774 0%,#c53364 100%);
}

.cardz.green {
  background: linear-gradient(150deg, #39ef74, #4600f1 100%);
}

.buttonz {
text-transform: uppercase;
    width: 63%;
    display: block;
    margin: 0 auto;
    color: #4600f1;
    border-radius: 50px;
    padding: 6px;
    background: white;
    border: none;
    
}
.bg_color{
  background-color: #000080!important;
}
.navbar-default .navbar-brand{
  color: white!important;
  font-weight: bold;
  font-size: x-large;
}
.navbar-default .navbar-nav>li>a{
  color: white!important;
}

